<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="layoutPattern">%d [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="logFile">logs/application.log</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="${logFile}">
            <PatternLayout pattern="${layoutPattern}" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>
